<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="widht=device-width, inital-scale=1.0">
    <!--CSS-->
    <link rel="stylesheet" href="src/view/login.css">

    <!--Content-->
<div class="container">
    <div class="heading">Admin Login</div>
    <form action="" method="POST" class="form" onsubmit="return onLogin()">
      <input required="" class="input" type="email" name="email" id="email" placeholder="E-mail">
      <input required="" class="input" type="password" name="password" id="password" placeholder="Password">
      <span class="forgot-password"><a href="#">Forgot Password ?</a></span>
      <input class="login-button" type="submit" value="Login">
      
    </form>
      <span class="agreement"><a href="#">Learn user licence agreement</a></span>
      <script>
        function onLogin(){
          var req = new XMLHttpRequest();
          var url = "/api/login";

          var datajson = JSON.stringify({
          username : document.getElementById("email").value,
          password : document.getElementById("password").value
        })
          req.open("POST", url, true);
          req.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
          req.onload = function(){
          console.log (this.responseText);
          if(req.status == 202){
            var responseText = req.responseText;
            var responseObject = JSON.parse(responseText);
            document.cookie = `PWL-SESSION = ${responseObject.Token}`;
            window.location.href = '/';
          }
          };
          req.send(datajson);
          return false;
      }
      </script>
  </div>