<!DOCTYPE html>
<html>
  <head>
    <title>Patient List</title>
    <link rel="stylesheet" type="text/css" href="patient_list.css">
  </head>
  <body>
    <div class="patient-list">
      <h1>Patient List</h1>
      <table>
        <thead>
          <tr>
            <th>Patient ID</th>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Gender</th>
            <th>Contact Information</th>
            <th>Occupation</th>
            <th>Parent's Name</th>
            <th>Parent's Number</th>
            <th>Guardian Name</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>001</td>
            <td>Kafka</td>
            <td>January 1, 1980</td>
            <td>Female</td>
            <td>(123) 456-7890<br>Kafka@stellaronhunter1.com<br>Penacony gamble street, City</td>
            <td>Stellaron Hunter</td>
            <td>Elio</td>
            <td>085780776870</td>
            <td>Blade</td>
            <td>Single and ready to mingle</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>