<!DOCTYPE html>
<html>
  <head>
    <title>Patient List</title>
    <link rel="stylesheet" type="text/css" href="src/view/patient_list.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
  </head>
  <body>
    <div class="patient-list">
      <h1>Patient List</h1>
      <input type="text" id="searchInput" placeholder="Search">
      <table id="myTable">
        <thead>
          <tr>
            <th>Full Name</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Date of Birth</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Occupation</th>
            <th>Parent's Name</th>
            <th>Parent's Number</th>
            <th>Guardian Name</th>
            <th>Edit</th>
            <th>Records</th>
          </tr>
        </thead>
        <tbody>
          
        </tbody>
      </table>
      <div id="paginationContainer"></div>
    </div>
    <script>
        var req = new XMLHttpRequest();
        var url = "/api/patients";
        req.open("GET", url, true);
        req.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        req.onload = function(){
          var responseText = req.responseText;
          var responseObject = JSON.parse(responseText);
          generateTable(responseObject);
        }
        req.send();
      function generateTable(responseObject) {
        var table = $('#myTable').DataTable({
          data: responseObject,
          columns: [
            { data: 'full_name' },
            { data: 'gender' },
            { data: 'address' },
            { data: 'date_of_birth' },
            { data: 'phone' },
            { data: 'email' },
            { data: 'occupation' },
            { data: 'parent_name' },
            { data: 'parent_phone' },
            { data: 'guardian_name' },
            {
              data: null,
            render: function(data, type, row) {
            return '<button class="btn btn-primary">Edit</button>';
            }
            },
            {
              data: null,
            render: function(data, type, row) {
            return '<button class="btn btn-primary">Records</button>';
            }
          }
          ]
        });

        $('#searchInput').on('keyup', function() {
          table.search(this.value).draw();
        });

        table.on('draw', function() {
          addPagination();
        });

        addPagination();
      }

      function addPagination() {
        $('#myTable').DataTable().destroy();
        $('#myTable').DataTable({
          data: responseObject,
          columns: [
            { data: 'full_name' },
            { data: 'gender' },
            { data: 'address' },
            { data: 'date_of_birth' },
            { data: 'phone' },
            { data: 'email' },
            { data: 'occupation' },
            { data: 'parent_name' },
            { data: 'parent_phone' },
            { data: 'guardian_name' }
          ],
          paging: true
        });
      }


    </script>
  </body>
</html>