<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="widht=device-width, inital-scale=1.0">
    <!--CSS-->
    <link rel="stylesheet" href="src/view/regist.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
        
    <title>Registration Form</title>
    </head>
    <body>
        <div class="container">
            <header>Registration</header>

            <form action="#">
                <div class="form first">
                    <div class="details personal">
                        <span class="title">Personal Details</span>

                        <div class="fields">
                            <div class="input-field">
                                <label>Full Name</label>
                              <input type="text" placeholder="Enter Your Name" required>  
                            </div>

                            <div class="input-field">
                                <label>Date of Birth</label>
                              <input type="date" placeholder="Enter Birth Date" required>  
                            </div>

                            <div class="input-field">
                                <label>Email</label>
                              <input type="text" placeholder="Enter Your Email" required>  
                            </div>
                            <div class="input-field">
                                <label>Mobile Number</label>
                              <input type="text" placeholder="Enter Mobile Number" required>  
                            </div>

                            <div class="input-field">
                                <label>Gender</label>
                              <input type="text" placeholder="Gender" required>  
                            </div>

                            <div class="input-field">
                                <label>Occupation</label>
                              <input type="text" placeholder="Enter Occupation" required>  
                            </div>
                            <div class="input-field">
                                <label>Parents Name</label>
                              <input type="text" placeholder="Enter Parents Name" required>  
                            </div>
                            <div class="input-field">
                                <label>Parents Mobile Number</label>
                              <input type="text" placeholder="Enter Parent's Number" required>  
                            </div>
                              <div class="input-field">
                                <label>Guardian</label>
                              <input type="text" placeholder="Enter Guardian Name" required>  
                            </div>
                            <select Status="Status">
                                <option value="">Pilih Status</option>
                                <option value="Menikah">Menikah</option>
                                <option value="Belum Menikah">Belum Menikah</option>
                            </select>
                        </div>
                        <button class="submitBtn">
                            <span class="BtnText">Submit</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>